.ql-toolbar {
    background-color: #1f2937; /* Darker toolbar background */
    color: #fff;
  }
  
  .ql-container {
    background-color: #374151; /* Dark background for editor */
    color: #fff; /* White text */
  }
  
  .ql-editor {
    min-height: 200px;
    color: #fff;
  }
  
  .ql-snow .ql-stroke {
    stroke: #fff;
  }
  
  .ql-snow .ql-fill {
    fill: #fff;
  }
  