.cardsSection {
    padding: 60px 20px;
    text-align: center;
}

.cardsSection h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
}

.cardsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    position: relative;
    padding: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    text-align: center;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.car{
    background-image: url('/car.jpg');
}

.clothes{
    background-image: url('/clothes.jpg');
}   

.construction{
    background-image: url('/construction.jpg');
}

.electronics{
    background-image: url('/electronics.jpg');
}

.agriculture{
    background-image: url('/agriculture.jpg');
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.7);
}

.cardIcon {
    width: 80px;
    height: 80px;
    margin: 0 auto 20px;
    color: #ffbf00;
}

.card h3 {
    margin-top: 10px;
    color: #ffbf00;
}

.cardHoverContent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: opacity 0.4s ease;
}

.card:hover .cardHoverContent {
    opacity: 1;
}


.splitSection {
    will-change: transform, opacity; /* Optimize for animations */
    perspective: 1000px; /* Add perspective for 3D depth */
}

.card {
    will-change: transform, opacity; /* Optimize for animations */
    transform-origin: center; /* Set transform origin to center */
}